/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

h1 {
  color: #0f7a16;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  text-align: center;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

input[type="text"],
button {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #95ADD8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  height: 3em;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: center;
  background-color: #8fbfaf;
}

nav h2 {
  flex-grow: 2;
  text-align: center;
  margin: 0;
}

nav h2:hover {
  cursor: pointer;
}

nav div {
  width: 20%
}

button,
nav a {
  color: black;
  text-decoration-line: none;
  background-color: #95add8;
  padding: .5em;
  border-radius: 5px;
  margin: 2px;
}

.selected,
button:hover,
nav a:active,
nav a:hover {
  cursor: pointer;
  color: white;
  background-color: #B3A4DB;
}

nav a.active {
  cursor: pointer;
  color: white;
  background-color: #B3A4DB;
}

.left-nav {
  justify-content: left;
  text-align: left;
  padding-left: .5em;
}

.right-nav {
  justify-content: right;
  text-align: right;
  padding-right: .5em;
}

.contents {
  display: flex;
  width: 70%;
  flex-direction: horizontal;
  justify-content: center;
}