<h2>Cupboard</h2>
<ul class="cupboard">
  <li *ngFor="let need of cupboard">
    <div class="item">
      <button [class.selected]="need === selectedNeed" (click)="onSelect(need)">
        <span class="badge">${{need.cost}}</span>
        <span class="name">{{need.name}}</span>
      </button>
      <div class="info" *ngIf="need === selectedNeed">
        <p>Type: {{need.type}}</p>
        <p>Quantity: {{need.quantity}}</p>
        <button class="basket" (click)="addToBasket()">
          Add to Basket
        </button>
      </div>
    </div>
  </li>
</ul>
<div *ngIf="admin">

</div>